<center>

  <h1> Questions </h1>

  <div class = "questions">
  <% @questions.each do |question| %>
   <a href = "/questions/<%=question.id%>" > <%= question.title %> </a> <br>
  <% end %>
  </div>

</center>

<div class="new-question">
  <a class = "new-q" href = '/questions/new'>Ask a question</a>
</div>
