<center>

<h1> Questions </h1>

<% @questions.each do |question| %>
 <a href = "/questions/<%=question.id%>" > <%= question.title %> </a> <br>
<% end %>
 </center>

<div class="new-question">


<a href = '/questions/new'>Ask a question</a>
</div>
