<center>
<h1> Post your question here </h1>
<form action = '/questions' method = "POST">
  Question: </br>
  <input type="text" name="question[title]"><br>
  Inquiry<br>
  <input type="text" name="question[inquiry]"> <br><br>
  <input type = "submit" name = "Save">
</form>
</center>
