<h1> Question: <%= @question.title %></h1>
<h3> Description: <%= @question.inquiry %> </h3>
  <ul>
 <% @question.answers.each do |sol| %>
<h3> Answers: </h3>
    <li><%= sol.solution %> </li>
 <% end %>
</ul>
