<h2> Log in </h2>

<form action="/login" method="post" title="Log in" >
  <input type="text" name="user[username]" placeholder="Username" value="" >
  <input type="text" name="user[password]" placeholder="Password" value="" >
  <input type="submit" value="Log in" >
</form>

