<h2> Register as a new user </h2>

<form action="/users" method="post" title="Sign up!">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="text" name="user[email]" placeholder="E-mail">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Sign Up" >
</form>


<!-- add error messages -->
