<% if current_user %>
  <h1> Welcome <%= current_user.username %> </h1>
  <div id="logout-button">
    <form method="post" action="/logout" >
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Signed in as <%= current_user.username %> ! Logout ">
    </form>
  <% else %>
  <h1> Welcome guest </h1>
  <h2> Click <a href="/users/new" > heer </a> to sign up or <a href="/login"> here </a> to log in </h2>
<% end %>




