<% if current_user %>
  <h1> Welcome back <%= current_user.username %> </h1>
  <div id="logout-button">
    <form method="post" action="/logout" >
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout ">
    </form>
  <% else %>
  <h1> Welcome!</h1>
  <h2> Click <a href="/users/new"> here </a> to sign up</h2>
  <h2> <a href="/login"> Log In </a>  </h2>
<% end %>
